/* stylelint-disable */

:root {
  --rounded-box: 1rem;
  --rounded-btn: 0;
  --rounded-badge: 1.9rem;
  --animation-btn: 0;
  --animation-input: .2s;
  --shadow-btn: 1px 1px 1px 1px hsl(var(--b4));
  --btn-text-case: normal;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 60, 100%, 50%;
  --pf: 60, 100%, 43%;
  --pc: 0, 0%, 20%;
  --s: 244, 100%, 50%;
  --sf: 244, 100%, 43%;
  --sc: 0, 0%, 100%;
  --a: 0, 100%, 50%;
  --af: 0, 100%, 43%;
  --ac: 0, 0%, 100%;
  --n: 233, 87%, 31%;
  --nf: 233, 87%, 24%;
  --nc: 0, 0%, 100%;
  --b50: 0, 0%, 98%;
  --b1: 0, 0%, 90%;
  --b2: 0, 0%, 82%;
  --b3: 0, 0%, 75%;
  --b4: 0, 0%, 67%;
  --bc: 0, 0%, 20%;
  --in: 180, 100%, 47%;
  --inc: 0, 0%, 20%;
  --su: 120, 100%, 25%;
  --suc: 0, 0%, 100%;
  --wa: 40, 100%, 50%;
  --wac: 0, 0%, 100%;
  --er: 0, 100%, 50%;
  --erc: 0, 0%, 100%;
}