/* stylelint-disable */

:root {
  --rounded-box: ;
  --rounded-btn: ;
  --rounded-badge: ;
  --animation-btn: ;
  --animation-input: ;
  --btn-text-case: ;
  --btn-focus-scale: ;
  --border-btn: ;
  --tab-border: ;
  --tab-radius: ;
  --p: 60, 100%, 50%;
  --pf: 60, 100%, 43%;
  --pc: 0, 0%, 20%;
  --s: 244, 100%, 50%;
  --sf: 244, 100%, 43%;
  --sc: 0, 0%, 100%;
  --a: 0, 100%, 50%;
  --af: 0, 100%, 43%;
  --ac: 0, 0%, 100%;
  --n: 233, 87%, 31%;
  --nf: 233, 87%, 24%;
  --nc: 0, 0%, 100%;
  --b1: 0, 0%, 90%;
  --b2: 0, 0%, 83%;
  --b3: 0, 0%, 76%;
  --bc: 0, 0%, 20%;
  --in: 180, 100%, 47%;
  --inc: 0, 0%, 100%;
  --su: 120, 100%, 25%;
  --suc: 0, 0%, 100%;
  --wa: 40, 100%, 50%;
  --wac: 0, 0%, 100%;
  --er: 0, 100%, 50%;
  --erc: 0, 0%, 100%;
}